body {
    margin: 0;
    padding: 0;
    background-color: #134611;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
}

.icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
}

.icon, .icon_header {
    margin-right: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 'sidebar header header header'
    'sidebar main main main';
    height: 100vh;
}

/* Header Start */
.header {
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px #3e8914;
}

.menu-icon {
    display: none;
}

/* Header End */

/* Sidebar Start */
    #sidebar {
        grid-area: sidebar;
        height: 100%;
        background-color: #e8fccf;
        overflow-y: auto;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        color: #0c2b0b;
    }

    .sidebar-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px 0px 30px;
        margin-bottom: 30px;
    }

    .sidebar-title > span {
        display: none;
    }

    .sidebar-brand {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 700;
    }

    .sidebar-list {
        padding: 0;
        list-style-type: none;
    }

    .sidebar-list-item {
        padding: 20px 20px 20px 20px;
        font-size: 18px;
        /* background-color: #e8fccf; */
        
       
       
    }

    .sidebar-list-item:hover {
        background-color: #3DA35D;
        cursor: pointer;
        border: 2px solid #134611;
        border-radius: 10px;
       
    }

    .sidebar-list-item > a {
        text-decoration: none;
        color: #134611;
    }
    
    .sidebar-responsive {
        display: inline !important;
        position: absolute;
    }


/* Sidebar End */

/* Home Start */
/* Home End */